<ol class="ks-navigation">
    {{#navigation}}
        <li class="ks-navigation__category ks-navigation__category--{{ categoryId }}">
            <a class="ks-navLink" href="patterns/{{ categoryId }}/index.html">{{ categoryName }}</a>
            <ol class="ks-subNav" id="{{ categoryId }}">
            {{#navItems}}
                <li class="ks-subNav__item ks-subNav__item--{{ sectionId }}">
                    <a class="ks-subNav__link" href="#{{ sectionId }}">{{ sectionName }}</a>
                    <ol class="ks-subNav-items">
                        {{#subItems}}
                        <li>
                            <a class="ks-navLink" href="{{ patternPath }}">{{ patternName }}</a>
                        </li>
                        {{/subItems}}
                    </ol>
                </li>
            {{/navItems}}
            </ol>
        </li>
    {{/navigation}}
        <li class="ks-navigation__category ks-navigation__category--viewall">
            <a class="ks-navLink" href="/">Kitchen Sink</a>
        </li>
</ol>