<!--/@page-tools-->

<div class="t-pageTools t-controls">

  <button class="t-icon man pam" data-t-toggle-control="details" title="toggle details">
      <svg>
          <use xlink:href="#t-icon-details" />
      </svg>
  </button>

  <button class="t-icon man pam" data-t-toggle-control="notes" title="toggle notes">
      <svg>
          <use xlink:href="#t-icon-notes" />
      </svg>
  </button>

  <button class="t-icon man pam" data-t-toggle-control="code" title="toggle code">
      <svg>
          <use xlink:href="#t-icon-code" />
      </svg>
  </button>

</div>

<!--/.page-tools-->