{{#if partials}}

{{#each partials}}
<div>

  <!-- pattern heading -->
  {{#if default}}
  <h2 class="ks-pattern__title ks-pattern__title--featured">
    <a href="{{patternLink}}" class="ks-patternLink ks-patternLink--{{ id }}" data-patternpartial="{{ id }}">{{ name }}</a>
  </h2>
  {{else}}
  <h2 class="ks-pattern__title">
    <a href="{{patternLink}}" class="ks-patternLink ks-patternLink--{{ id }}" data-patternpartial="{{ id }}">{{ name }}</a>
  </h2>
  {{/if}}

  <!-- <a class="ks-pattern-addl-toggle" title="View Addtional Pattern Info" href="#{{id}}-addl">
      <span>▼</span>
  </a> -->

  {{#if notes}}
  <div class="ks-pattern__notes" role="note">{{{notes}}}</div>
  {{/if}}

  <div class="ks-pattern__body">

    <!-- pattern example -->
    <div class="ks-pattern__example-wrapper">
      <div class="ks-pattern__example">
        {{{ partial }}}
      </div>
    </div>

    <!-- pattern additional information -->
    <div class="ks-pattern-addl" id="{{id}}-addl" role="contentinfo">

      <div class="ks-pattern-addl__code">

        <pre><code class="language-markup">{{partial}}</code></pre>

      </div>

      {{#if:or lineage lineageReverse}}
      <div class="ks-pattern-addl__info">

        {{#if lineage}}

        <nav class="ks-nav ks-nav--lineage">

          <p class="ks-nav__intro">The {{name}} pattern references the following patterns:</p>

          <ul class="ks-nav__list" role="navigation">

            {{#each lineage}}

            <li class="ks-nav__item">
              <a class="ks-nav__link" href="{{ lineagePath }}">{{ lineagePattern }}</a>
            </li>

            {{/each }}

          </ul>

        </nav>

        {{/if}}

        {{#if lineageReverse}}

        <nav class="ks-nav ks-nav--lineage">

          <p class="ks-nav__intro">The {{name}} pattern is referenced by the following pattern(s):</p>

          <ul class="ks-nav__list" role="navigation">

            {{#each lineageReverse }}

            <li class="ks-nav__item">
              <a class="ks-nav__link" href="{{ lineagePath }}">{{ lineagePattern }}</a>
            </li>

            {{/each }}

          </ul>

          {{/if}}

        </nav>

      </div>
      {{/if:or}}

  </div>

</div>
{{/each}}

{{/if}}