@mixin clearfix {
    &:after {
        clear: both;
    }

    &:before,
    &:after {
        display: table;
        content: ' ';
    }
}

@mixin borderBox {
    box-sizing: border-box;
}

@mixin display($display: block) {
    display: $display;

    @if ($display == inline-block and $legacy_support_for_ie) {
        *display: inline;
        zoom: 1;
    }
}

/// Helper mixin to size elements
/// @param {Number} $width - Width
/// @param {Number} $height ($width) - Height
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}



@mixin transition($property: all, $timing: 250) {
    transition: $property #{$timing+ms} cubic-bezier(0.86, 0, 0.07, 1) 0s;
}