---
name: Buttons
category: Component
notes: button.md
layout: default
---

<!-- snippet:html button -->
<button class="btn" type="button">Button</button>
<!-- endsnippet -->

<!-- snippet:markdown button -->
Add the `.btn` class to an anchor or button element
<!-- endsnippet -->


<!-- snippet:html primary-button -->
<button class="btn btn-primary" type="button">Primary Button</button>
<!-- endsnippet -->


<!-- snippet:html ghost-button -->
<button class="btn btn-ghost" type="button">Button</button>
<!-- endsnippet -->

<!-- snippet:markdown ghost-button -->
A ghost button has a border and no background color
<!-- endsnippet -->


<!-- snippet:html disabled-button -->
<button class="btn is-disabled" disabled type="button">Disabled Button</button>
<!-- endsnippet -->

<!-- snippet:html button-sizes -->
<button class="btn btn--xsmall" type="button">Button</button>
<button class="btn btn--small" type="button">Button</button>
<button class="btn btn--medium" type="button">Button</button>
<button class="btn btn--large" type="button">Button</button>
<button class="btn btn--xlarge" type="button">Button</button>
<button class="btn btn--xxlarge" type="button">Button</button>
<!-- endsnippet -->


