---
name: Form Elements
category: Component
notes: radio.md
layout: default
---

<!-- snippet:html textbox -->
<input class="input-text" type="text" placeholder="ex: textbox"></input>
<!-- endsnippet -->

<!-- snippet:html select -->
<select class="select">
    <option selected>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <option>Option 4</option>
    <option>Option 5</option>
</select>
<!-- endsnippet -->

<!-- snippet:html select-with-label -->
<label>
Select an option
    <select class="select">
        <option selected>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
        <option>Option 5</option>
    </select>
</label>
<!-- endsnippet -->



<!-- snippet:html checkbox -->
<label>
    <input class="input-chk" name="choose" value="Choose me!" type="checkbox"></input>
    Checkbox
</label>
<!-- endsnippet -->

<!-- snippet:html radio-button -->
<label>
    <input class="input-radio" name="model" value="iphone" type="radio"></input>
    Radio Button
</label>
<!-- endsnippet -->

<!-- snippet:markdown radio-button -->
Radio input(s) are reserved for mutually exclusive choices
<!-- endsnippet -->