---
notes: Buttons can be sized in various sizes, based upon an additional class added to the `button` tag
text-xsmall: Small Button
text-small: Small Button
text-large: Large Button
text-xlarge: Extra Large Button
text-jumbo: Jumbo Button
order: 5
---

{{> button classes="btn--xsmall" buttonText=text-xsmall }}
{{> button classes="btn--small" buttonText=text-small }}
{{> button classes="btn--large" buttonText=text-large }}
{{> button classes="btn--xlarge" buttonText=text-xlarge }}
{{> button classes="btn--jumbo" buttonText=text-jumbo }}