---
notes: Buttons can be sized in various sizes, based upon an additional class added to the `button` tag
text:
  xsmall: X-Small Button
  small: Small Button
  large: Large Button
  xlarge: Extra Large Button
  jumbo: Jumbo Button
order: 5
---

<button class="button button--xsmall" type="button">{{text.xsmall}}</button>
<button class="button button--small" type="button">{{text.small}}</button>
<button class="button button--large" type="button">{{text.large}}</button>
<button class="button button--xlarge" type="button">{{text.xlarge}}</button>
<button class="button button--jumbo" type="button">{{text.jumbo}}</button>

