<aside class="t-sidebar" id="sidebar">

    <div class="t-sidebar__wrapper t-wrapper">

        <div class="t-sidebar__logoWrapper">

            <a class="t-logo t-sidebar__logo" href="/">
                <span class="sg-visuallyhidden">kickstart</span>
                kickstart
            </a>

        </div>

        <nav class="t-menu t-sidebar__menu" role="navigation">

            <ul>
                <li>
                    <a data-class="{{name}}" href="index.html">
                        <span>Style</span>
                    </a>
                </li>

                {{#if components}}
                <li>
                    <a data-class="{{name}}" href="components.html">
                        <span>Components</span>
                    </a>
                </li>
                {{/if}}

                {{#if modules}}
                <li>
                    <a data-class="{{name}}" href="modules.html"><span>Modules</span></a>
                </li>
                {{/if}}

                {{#if templates}}
                <li>
                    <a data-class="{{name}}" href="templates.html"><span>Templates</span></a>
                </li>
                {{/if}}

                {{#if pages}}
                <li>
                    <a data-class="{{name}}" href="pages.html"><span>Pages</span></a>
                </li>
                {{/if}}

            </ul>

        </nav>

    </div>

</aside>