<meta name="description" content="{{meta-description}}">

<meta property="og:url" content="{{og-url}}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{og-title}}" />
<meta property="og:description" content="{{og-description}}" />
<meta property="og:image" content="{{og-image}}" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{twitter-username-site}}">
<meta name="twitter:title" content="{{twitter-title}}">
<meta name="twitter:description" content="{{twitter-description}}">
<meta name="twitter:image:src" content="{{twitter-image}}">