.t-wrapper--footer {
    font-size: $kickstart-font-size-base*.875;
    background-color: map-get($colors, dark);
    color: map-get($colors, white);

    @media screen and (min-width: 55em) {
        position: fixed;
        top: auto;
        bottom: 0;
        right: 0;
        z-index: -1;
        left: 23.6068%;
    }
}

.t-version {
    color: map-get($colors, medium);
}