/* item */
.t-item-group {
    @include clearfix;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
}

.t-item-border-bottom {
    border-bottom: 1px solid map-get($colors, light);
}

.t-item-heading-group {
    @include clearfix;

    border-bottom: 1px solid map-get($colors, light);
    color: map-get($colors, medium);
    vertical-align: middle;

    .t-item-heading {
        font-size: 0.75em;
        display: inline-block;
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .t-item-toggles {
        float: right;
        display: inline-block;

        svg {
            width: 1em;
            height: 1em;
            display: inline-block;
            vertical-align: middle;

            use {
                fill: mix(map-get($base-colors, light), map-get($base-colors, medium), 10%);
            }
        }
    }

    .t-toggle {
        margin-left: 0.2em;
        cursor: pointer;
    }
}

.t-item {
    //background-color: mix(map-get($colors, light), map-get($colors, dark), 90%);
}

.t-item-name {
    color: map-get($colors, blue);
    text-transform: capitalize;
}

.t-item-hidden {
    display: none;
}

.t-item-heading {
    background-color: map-get($colors, whisper);
    color: map-get($colors, dark);
}

.t-item-notes {
    background-color: map-get($colors, white);
    color: darken(map-get($colors, medium), 13%);
}