.t-menu {
    @include clearfix;

    z-index: 0;
    *zoom: 1;

    .state--menu-active & {
        visibility: visible;
        -webkit-overflow-scrolling: touch;
    }

    a {
        text-decoration: none;
        line-height: 1;
        border-bottom: 2px solid transparent;

        &:hover {
            text-decoration: none;
        }

        &.t-active {
            color: lighten(saturate(map-get($colors, lightblue),25%), 25%);
            text-decoration: underline;
        }
    }
}

.t-menu__heading {
    color: map-get($colors, emphasis);

    &:hover {
        color: map-get($colors, emphasis);
    }
}

.t-controls-menu {
    border-top: 1px solid map-get($colors, normal);
}

.t-menu-bar {
    @include clearfix;

    .state--menu-active & {
        z-index: 2;
    }
}