.t-sidebar__menu {

    &,ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;
        padding: 0;

    }

    a {
        display: inline-block;
        line-height: 1;
        color: map-get($colors, white) !important;
    }

    > ul > li > a {
        padding: $default-spacing/2 0;
        font-size: $kickstart-font-size-base;
        font-weight: 700;
    }

    ul ul {
        margin-left: $default-spacing;
        margin-bottom: $default-spacing/2;
    }

    ul ul a {
        padding: $default-spacing/3;
        font-size: $kickstart-font-size-base;
    }
}