---
notes: This is the home page

meta-description: This is the client home page

og-description: This is the client home page
og-image: 'path/to/some/image.png'
og-title: This is the client home page
og-url: 'http://localhost:3000'

twitter-username-site: '@client_twitter_username'
twitter-title: This is the client home page
twitter-description: This is the client home page
twitter-image: 'path/to/some/image.png'

layout: layout-home
---

{{> structures/horizontal-nav-bar }}

{{> modules/hero-header }}

<div class="page">

  <div class="main-content" role="main">

    <article class="article">

      {{> modules/article-lead }}

      {{> modules/button-bar }}

    </article>

  </div>

</div>

{{> structures/footer }}

