---
notes: This is a standard listing page

meta-description: This is a standard listing page
og-description: This is a standard listing page
og-image: 'path/to/some/image.png'
og-title: Standard Listing Page
og-url: 'http://localhost:3000'
twitter-username-site: '@client_twitter_username'
twitter-title: Standard Listing Page
twitter-description: This is a standard listing page
twitter-image: 'path/to/some/image.png'

pageTitle: Listing Page Title
listingType: standard

layout: layout-listing
---

{{> modules/navigation}}

<div class="page page--{{listingType}}">

  <h1 class="page-title">{{pageTitle}}</h1>

  <div class="main-content" role="main">

    <div>Listing Page Content Goes Here</div>

  </div>

</div>

{{> structures/footer}}

