.sg-grid {
    @include display(block);

    padding: 0;
    margin: 0;
    text-align: left;
    letter-spacing: -0.31em;
    text-rendering: optimizeSpeed;
}

.sg-grid-cell {
    @include display(inline-block);

    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: left;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
}

.gc-1of4 {
    width: 25%;
}