/* main */

html {
    box-sizing: border-box;
    height: 100%;
    @media (max-width: 60em) {
        &.state--menu-active {
            overflow: hidden;
        }
    }
}

body {
    margin: 0;
    min-height: 100%;
}

p {
    margin-top: 0;
}

a {
    background: rgba(0,0,0,0);
    color: map-get($colors, blue);
    text-decoration: none;
}

.bg-s-med {
    background-color: map-get($colors, light);
}

.bg-s-dark {
    background-color: map-get($colors, blue);
    color: map-get($colors, light);
}

.s-h-text {
    max-width: 56.25em;
    margin: 0 auto;
}

.s-h-card {
    max-width: 72em;
    margin: 0 auto;
}

.st-h1,
.st-h2 {
    font-weight: normal;
    letter-spacing: 0;
    text-align: center;
}

.page-menu {
    background-color: map-get($colors, white);
    margin-top: $default-spacing * 5.5;
}