// colors
$base-colors: (
    dark: rgb(30, 30, 30),
    medium: rgb(160, 160, 160),
    light: rgb(242, 242, 242),
    black: rgb(0, 0, 0),
    white: rgb(255, 255, 255),
    blue: rgb(41, 63, 84),
    lightblue: #0076DF
);

$theme-dark: (
    menu-background: lighten(map-get($base-colors, blue), 4%),
    emphasis: map-get($base-colors, light),
    normal: map-get($base-colors, medium),
    whisper: lighten(map-get($base-colors, medium), 15%)
);

$theme-light: (
    menu-background: map-get($base-colors, light),
    emphasis: map-get($base-colors, dark),
    normal: darken(map-get($base-colors, medium), 10%)
);

$theme-medium: (
    menu-background: rgb(75,75,75),
    emphasis: map-get($base-colors, medium),
    normal: darken(map-get($base-colors, medium), 15%)
);

$theme: $theme-dark;

$colors: map-merge($base-colors, $theme);

$ks-body-font-stack: 'PT Sans', 'Helvetica Neue', Arial, sans-serif;
$ks-heading-font-stack: $ks-body-font-stack;
$ks-code-font-stack: "Source Code Pro", "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
$ks-body-font-weight: 400;
$ks-heading-font-weigth: 700;
$ks-font-size-base: 16px;
$ks-line-height: 1.5;

// sizes and spacing
$default-spacing: 16px;

// layout
$max-page-width: 1400px;

// borders
$border-width: 1px;
$border-style: solid;

// shadows
$ks-text-shadow: 0 1px 1px rgba(0,0,0,0.15);