.ks-header {
    position: fixed;
    width: 100%;
}

.ks-nav__intro {
    margin-bottom: 0.5em;

    &.#{--small} {
        font-size: 90%;
    }
}

.ks-nav__list {
    list-style-type: none;
    list-style-position: outside 0 0;
    margin: 0;
    padding: 0;

    &.#{--small} {
        font-size: 90%;
    }
}

.ks-nav__item {
    margin-bottom: 0.5em;
    text-decoration: none;
    color: map-get($colors, lightblue);

    &.--inline {
        display: inline-block;
    }

    &.--piped {
        &:after {
            content: "|";
            display: inline-block;
            line-height: 1;
            padding: 0 2px;
            vertical-align: middle;
            color: map-get($colors, medium);
        }
    }

    &:last-child {
        margin-bottom: 0;

        &:before,
        &:after {
            content: "";
        }
    }
}

.ks-nav__link {
    display: inline-block;
}

.ks-navigation {
    @include clearfix;

    list-style: outside none none;
    margin: 0;
    padding: 0;
    background: map-get($colors, blue);
}

.ks-navigation__category {
    display: inline-block;
    list-style: outside none none;
}

.ks-subNav {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    visibility: hidden;
    list-style-type: none;
    padding: 0;
    padding-left: 0.375em;
    opacity: 0;
    background: map-get($colors, light);
    z-index: 1;
    transition: opacity 0.28s;

    &:target {
        visibility: visible;
        opacity: 1;
    }
}

.ks-navLink,
.ks-subNav__link {
    display: block;
    color: map-get($colors, light);
    cursor: pointer;
    text-decoration: none;
    transition: background 0.28s;
}

.ks-navLink {
    line-height: 3;
    padding: 0 0.75em;
    letter-spacing: .01em;
    text-transform: uppercase;
}

.ks-subNav__link {
    padding: 0.75em;
    font-size: 85%;
    color: map-get($colors, blue);
}

.ks-navLink--active {
    background: map-get($colors, light);
    color: map-get($colors, blue);

    + .ks-subNav {
        visibility: visible;
        opacity: 1;
    }
}

.ks-subNav__item {
    display: inline-block;
}

.ks-subNav-items {
    display: none;
    list-style-type: none;
    padding: 0;
}