.ks-patternGroup__name {
    margin-bottom: 16px;
    padding-top: 15px;
    border-top: 1px solid map-get($colors, light);

    &:first-child {
        border-color: rgba(0,0,0,0);
    }
}

.ks-pattern {
    margin-bottom: 4em;
}

.ks-pattern__head {
    position: relative;
    margin-bottom: 0.75em;
}

.ks-pattern__name {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-family: $ks-body-font-stack;
    font-weight: 400;
}

.ks-pattern__name__link {
    color: map-get($colors, lightblue);
}

.ks-pattern__notes {
    font-family: 'PT Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    margin-bottom: 1em;
}

.ks-pattern__body {
    border-color: map-get($colors, light);
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
}

.ks-pattern__example {
    padding: 1em;

    code {
        font-family: 'Source Sans Pro', Consolas, monospace;
        font-weight: 400;
    }
}

.ks-patternLink {
    color: map-get($colors, dark);
}

.ks-pattern-addl-toggle {
    position: absolute;
    right: 0;
    bottom: 0em;
    padding: 0.5em;
    color: map-get($colors, whisper);
    transition: background 0.15s ease-in-out, color 0.2s ease-in-out;

    &:visited {
        color: map-get($colors, whisper);
    }

    &:hover,
    &.ks-is-active {
        background-color: map-get($colors, light);
        color: map-get($colors, lightblue);
    }
}

.ks-pattern-addl__code {
    border-color: map-get($colors, light);
    border-style: solid;
    border-width: 2px 0 0 0;
}

.ks-pattern-addl__info {
    @include clearfix;

    border-color: map-get($colors, light);
    border-style: solid;
    border-width: 2px 0 0 0;
    background: map-get($colors, white);
}

.ks-nav--lineage {
    padding: 1em;
    font-size: 90%;

    @media screen and (min-width: 52.5em) {
        float: left;
        width: 50%;
    }

    & + & {

        @media screen and (min-width: 37.5em) {
            box-shadow: -2px 0 0 map-get($colors, light);
        }
    }
}