//////////////////
/// Media Query Helpers
//////////////////
.until-small {
    @media screen and (max-width: 40.5em) {
        dislay: none;
    }
}




// Display
//////////////////

// display: block
.db {
    @include display(block);
}

// display: inline
.di {
    @include display(inline);
}

// display: inline-block
.dib {
    @include display(inline-block);
}

// display: none
.dn {
    @include display(none);
}

// responsive styles

// display: block medium screens
.db-m {
    @media screen and (min-width: 38.5em) {
        @include display(block);
    }
}

// visually hidden
.sg-visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

// visibility: visible

// opacity: 0

// opacity: 0.5

// opacity: 1

//////////////////
// Positioning
//////////////////
.pos-abs {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.pos-l {
    left: 0;
}

.pos-r {
    right: 0;
}

.posf-l {
    @media screen and (min-width: 56.25em) {
        position: fixed;
    }
}


//////////////////
// Box Context
//////////////////
.fl {
    float: left;
}

    .fl-l {
        @media screen and (min-width: 56.25em) {
            float: left;
        }
    }

.fr {
    float: right;
}

    .fr-l {
        @media screen and (min-width: 56.25em) {
            float: right;
        }
    }


//////////////////
// Alignment
//////////////////
.center {
    @include display(block);
    margin: 0 auto;
}

//////////////////
// Fonts
//////////////////

// Font Sizes
.fsxs {
    font-size: $ks-font-size-base* .75;
}

.fss {
    font-size: $ks-font-size-base * .875;
}

.fsm {
    font-size: $ks-font-size-base * 1.125;
}

.fsl {
    font-size: $ks-font-size-base * 1.25;
}

.fsxl {
    font-size: $ks-font-size-base * 1.5;
}

.fsxxl {
    font-size: $ks-font-size-base * 1.75;
}

.fsxxx {
    font-size: $ks-font-size-base * 2;
}

// font-weights
.fw-1 {
    font-weight: 100;
}

.fw-2 {
    font-weight: 200;
}

.fw-3 {
    font-weight: 300;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-8 {
    font-weight: 800;
}

.fw-9 {
    font-weight: 900;
}




//////////////////
// Text Alignment
//////////////////
.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

    .tl-l {
        @media screen and (min-width: 56.25em) {
            text-align: left;
        }
    }

.tr {
    text-align: right;
}

    .tr-m {
        @media screen and (min-width: 37.5em) {
            text-align: right;
        }
    }

    .tr-l {
        @media screen and (min-width: 56.25em) {
            text-align: right;
        }
    }

//////////////////
// Height / Width
//////////////////
.mw-16 {
    max-width: 16rem;
}

.mw-24 {
    max-width: 24rem;
}

.mw-32 {
    max-width: 32rem;
}

.mw-40 {
    max-width: 40rem;
}

.mw-48 {
    max-width: 48rem;
}

.mh-800 {
    min-height: 800px;
}


//////////////////
// Spacing
//////////////////

// Margin
.man {
    margin: 0;
}

    .mas {
        margin: $default-spacing / 2;
    }

    .mbn {
        margin-bottom: 0;
    }

    .mbxs {
        margin-bottom: $default-spacing / 4;
    }

    .mbs {
        margin-bottom: $default-spacing / 2;
    }

    .mbm {
        margin-bottom: $default-spacing;
    }

    .mbx {
        margin-bottom: $default-spacing * 1.5;
    }

    .mbxx {
        margin-bottom: $default-spacing * 2;
    }

    .mbxxx {
        margin-bottom: $default-spacing * 3;
    }

.mtn {
    margin-top: 0;
}

    .mts {
        margin-top: $default-spacing / 2;
    }

    .mtm {
        margin-top: $default-spacing;
    }

    .mtl {
        margin-top: $default-spacing * 1.25;
    }

    .mtx {
        margin-top: $default-spacing * 1.5;
    }

    .mtxx {
        margin-top: $default-spacing * 2;
    }

.mhm {
    margin-left: $default-spacing;
    margin-right: $default-spacing;
}

.mls {
    margin-left: $default-spacing / 2;
}

.mrn {
    margin-right: 0;
}

    .mrs {
        margin-right: $default-spacing / 2;
    }

    .mr {
        margin-right: $default-spacing;
    }

    .mrl {
        margin-right: $default-spacing * 1.25;
    }

    .mrx {
        margin-right: $default-spacing * 1.5;
    }

    .mrxx {
        margin-right: $default-spacing * 2;
    }


    .mrm {}

// Padding
.pan {
    padding: 0;
}

.pam {
    padding: $default-spacing;
}

.pal {
    padding: $default-spacing * 2;
}

.pas {
    padding: $default-spacing / 2;
}

.ph {
    padding-left: $default-spacing;
    padding-right: $default-spacing;
}

.phm {
    padding-left: $default-spacing;
    padding-right: $default-spacing;
}

.phl {
    padding-left: $default-spacing * 2;
    padding-right: $default-spacing * 2;
}

.pvs {
    padding-bottom: $default-spacing / 2;
    padding-top: $default-spacing /2;
}

.pvm {
    padding-bottom: $default-spacing;
    padding-top: $default-spacing;
}

.pvx {
    padding-bottom: $default-spacing * 1.125;
    padding-top: $default-spacing * 1.125;
}

.pvl {
    padding-bottom: $default-spacing * 1.5;
    padding-top: $default-spacing * 1.5;
}

.pbm {
    padding-bottom: $default-spacing;
}

.pbl {
    padding-bottom: $default-spacing * 1.25;
}

.pbxl {
    padding-bottom: $default-spacing * 3;
}

.pbxx {
    padding-bottom: $default-spacing * 2;
}

.plxl {
    padding-left: $default-spacing * 4;
}

.prxl {
    padding-right: $default-spacing * 4;
}

.pvxl {
    padding-bottom: $default-spacing * 4;
    padding-top: $default-spacing * 4;
}

.phxx {
    padding-left: $default-spacing * 1.5;
    padding-right: $default-spacing * 1.5;
}

.pts {
    padding-top: $default-spacing / 2;
}

.ptm {
    padding-top: $default-spacing;
}

.ptl {
    padding-top: $default-spacing * 1.125;
}

.ptx {
    padding-top: $default-spacing * 1.5;
}

.ptxx {
    padding-top: $default-spacing * 1.5;
}

.ptn {
    padding-top: 0;
}



//////////////////
// Borders
//////////////////
.br {
    border-radius: 5px;
}

.brs {
    border-radius: 3px;
}

    .brts {
        border-radius: 3px 3px 0 0;
    }

    .brbs {
        border-radius: 0 0 3px 3px;
    }

.brl {
    border-radius: 10px;
}

    .brtl {
        border-radius: 10px 10px 0 0;
    }

    .brbl {
        border-radius: 0 0 10px 10px;
    }

.border {
    border-style: $border-style;
    border-width: $border-width;
}

.border-bottom {
    border-style: $border-style;
    border-width: 0 0 $border-width 0;
}

.border-top {
    border-style: $border-style;
    border-width: $border-width 0 0 0;
}

    .border-1 {
        border-color: mix(map-get($colors, light), map-get($colors, dark), 90%);
    }


//////////////////
// Lists
//////////////////
.list-h {
    @include list-unstyled;

    > li {
        @include display(inline-block);
    }
}

.list-n {
    list-style: none;
}
